<%- include('partials/header') %>

<style>
  body { background-color: #487eb0;}
</style>





          
  <form action="/" method="post">


      <div class="invitations">

        <div class="item">
          <br>
          <p class="title"> <%= cell.Firstname %>   <%= cell.Lastname %></p>
          <p class="title"> <%= cell.RollNo %> - <%=cell.Department%> </p>
     
        
         </div>
           
         
      </div> 
    
  
      
 

  </form>

 
        


  <%- include('partials/footer') %>
